.git
.github
.gitmodules
.turbo
.vite
coverage
dist
docs
node_modules
package-lock.json
playwright-report
test-results
vendor
*.log
*.tsbuildinfo

**/node_modules
**/dist
**/build
**/*.tsbuildinfo
**/.DS_Store
**/.git

docker/services/mongodb
docker/services/postgresql
docker/services/redis
docker/services/sonarqube
docker/services/node
src/lib/engine/target
src/lib/libcpp
src/lib/rust/csv_writer/target
src/lib/rust/json_writer/target
